[submodule "external/qpbo"]
	path = external/qpbo
	url = ../../DerThorsten/qpbo.git
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = ../../taocpp/PEGTL.git
	branch = 1.x
[submodule "external/maxflow"]
	path = external/maxflow
	url = ../../DerThorsten/maxflow.git
[submodule "external/libsimdpp"]
	path = external/libsimdpp
	url = ../../p12tic/libsimdpp.git
[submodule "external/meta"]
	path = external/meta
	url = ../../rogerwwww/meta.git
[submodule "external/TCLAP"]
	path = external/TCLAP
	url = ../../mirror/tclap.git
[submodule "external/BCFW-Bundle"]
	path = external/BCFW-Bundle
	url = ../../pawelswoboda/BCFW-Bundle.git
[submodule "external/DD_ILP"]
	path = external/DD_ILP
	url = ../../rogerwwww/DD_ILP.git
[submodule "external/ConicBundle"]
	path = external/ConicBundle
	url = ../../pawelswoboda/ConicBundle.git
[submodule "external/arboricity"]
	path = external/arboricity
	url = ../../pawelswoboda/arboricity.git
[submodule "external/opengm"]
	path = external/opengm
	url = ../../opengm/opengm.git
[submodule "external/MCF-SSP"]
	path = external/MCF-SSP
	url = ../../pawelswoboda/MCF-SSP.git
[submodule "external/andres-graph"]
	path = external/andres-graph
	url = ../../bjoern-andres/graph.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/tsl-robin-map"]
	path = external/tsl-robin-map
	url = ../../Tessil/robin-map.git
[submodule "external/cpp-taskflow"]
	path = external/cpp-taskflow
	url = ../../cpp-taskflow/cpp-taskflow.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = ../../pybind/pybind11.git
[submodule "external/cudd"]
	path = external/cudd
	url = ../../ivmai/cudd.git
	branch = release
[submodule "LifT_Solver"]
	path = external/LifT_Solver
	url = ../../AndreaHor/LifT_Solver.git
